body{
  background-color: #FFE4A7;

}

h1{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #963737;
  font-style: normal;
  padding-top: 80px;
}

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #963737;
  font-style: normal;
}

.long {
  background-color: #963737;
  border-style: none;
  border-radius: 50px;
  padding: 15px 80px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

  position: relative; 
  top: 50px;
  text-align: left;
}


.longbtn{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #FFCF65;
  font-style: normal;
  text-decoration: none;
  


}

.midbtn{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #FFCF65;
  font-style: normal;
  text-decoration: none;
  background-color: #963737;
  border-style: none;
  border-radius: 30px;
  padding: 20px 95px;

  position: relative; 
  top: 120px;
}

.qbtn{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #FFCF65;
  font-style: normal;
  text-decoration: none;
  background-color: #963737;
  border-style: none;
  border-radius: 30px;
  padding: 20px 130px;

  position: relative; 
  top: 50px;
}

.q2btn{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #FFCF65;
  font-style: normal;
  text-decoration: none;
  background-color: #963737;
  border-style: none;
  border-radius: 30px;
  padding: 20px 95px;

  position: relative; 
  top: 120px;
}

.q3btn{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #FFCF65;
  font-style: normal;
  text-decoration: none;
  background-color: #963737;
  border-style: none;
  border-radius: 30px;
  padding: 20px 130px;

  position: relative; 
  top: 190px;
}

.Nextbtn{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #FFCF65;
  font-style: normal;
  text-decoration: none;
  background-color: #963737;
  border-style: none;
  border-radius: 30px;
  padding: 20px 130px;

  position: relative; 
  top: 50px;
}



@media only screen and (max-width: 460px) {

  h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #963737;
    font-style: normal;
    padding-top: 0px;
  }

  h2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #963737;
    font-style: normal;
    margin: 15px;
  }

  .midbtn{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #FFCF65;
    font-style: normal;
    text-decoration: none;
    background-color: #963737;
    border-style: none;
    border-radius: 30px;
    padding: 20px 70px;

    position: relative; 
    top: 120px;
  }
  
  .qbtn{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #FFCF65;
    font-style: normal;
    text-decoration: none;
    background-color: #963737;
    border-style: none;
    border-radius: 30px;
    padding: 20px 70px;

    position: relative; 
    top: 50px;

  }

  .q2btn{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #FFCF65;
    font-style: normal;
    text-decoration: none;
    background-color: #963737;
    border-style: none;
    border-radius: 30px;
    padding: 20px 40px;

    position: relative; 
    top: 120px;
  }

  .q3btn{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #FFCF65;
    font-style: normal;
    text-decoration: none;
    background-color: #963737;
    border-style: none;
    border-radius: 30px;
    padding: 20px 70px;

    position: relative; 
    top: 190px;
  }

  .ans_img{
    width: 250px;
    height: 250px;
  }


  .Nextbtn{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #FFCF65;
    font-style: normal;
    text-decoration: none;
    background-color: #963737;
    border-style: none;
    border-radius: 30px;
    padding: 20px 70px;

    position: relative; 
    top: 50px;
  }

  .gif{
    width: 400px;
    height: 300px;
  }


}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #FFCF65;
  font-style: normal;
  text-decoration: none;
  background-color: #963737;
  border-style: none;
  border-radius: 30px;
  padding: 20px 70px;

  position: relative; 
  bottom: 100px;
}
